<thead>
                    
    <tr>
      <th scope="col">Air Quality <i class="fas fa-lungs"></i></th>
      <th scope="col"></th>
      <th scope="col"></th>
      {%if diff == 0%}
      <th scope="col">Last updated: Never</th>
      {%else%}
      <th scope="col">Last updated: {{diff}}</th>
      {%endif%}
    </tr>
  </thead>
  <tbody >
<tr>
    <th scope="row">PM2.5</th>
    <th scope="row"></th>
    <th scope="row"></th>
    <td>{{airq.pmtwo}} µg/m<sup>3</sup></td>
  </tr>
  <tr>
    <th scope="row">PM10</th>
    <th scope="row"></th>
    <th scope="row"></th>
    <td>{{airq.pmten}} µg/m<sup>3</sup></td>
  </tr>
  <tr>
    <th scope="row">CO-Index</th>
    <th scope="row"></th>
    <th scope="row"></th>
    <td>{{airq.co_index}} ppm</td>
  </tr>
</tbody>
