<body>
  <div class="ana-header">
    <div><i class="fas fa-location-dot"></i>&nbsp; {{darla.place}}</div>

    <p style="font-size: 55px; margin: 0px; font-weight: 200">
      {{tph_data.temperature}}&deg;
    </p>
    <div>Rainy | Windy | Sunny</div>

    <div>
      H: {{tph_data.humidity}}%&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;P:
      {{tph_data.pressure}}Kpa
    </div>
  </div>

<div class="ana-container">
  <div class="flexy1">
    <i class="fa-solid fa-angle-left" id="button-left"></i>
    <div class = "ana-scroll-modal"
      tabindex="0"
      id="popover">
  
      <div class="ana-scroll-card bg-color">
        <div class="scroll-element">
          <p >Now</p>
          <p>
            <img
              draggable="false"
              src="/static/assets/good-feedback.png"
              alt=""
              width="30"
            />
          </p>
          {%if tph_data%}
          <p>{{funcs.convert_float(tph_data.temperature)|round|int}}&deg;</p>
          {%else%}
          <p>None&deg;</p>
          {%endif%}
        </div>
        {%for all in hourly_all%}
        <div class="scroll-element">
          <p>{{all.date_forecast.strftime('%H')}}:00</p>
          <p>
            <img
              draggable="false"
              src="/static/assets/good-feedback.png"
              alt=""
              width="30"
            />
          </p>
          <p>{{funcs.convert_float(all.temperature_2m)|round|int}}&deg;</p>
        </div>
        {%endfor%}
      </div>
    </div>
    <div id="popover-content" style="display: none;">
      {%include 'scroll_card.html'%}
    </div>
    <i class="fa-solid fa-angle-right" id="button-right"></i>
    <div class="ana-grid-1">
      <div
        class="bg-color"
      >
        <div class="ana-forecast" id="popover2">
          <div class="ana-title"> <i class="fas fa-clock"></i> &nbsp;FORECAST  </div>
          {%for daily in daily_all%}
          <p>
            {%if loop.first %}
            Today
            {%else%}
            {{daily.date_forecast.strftime('%a')}}
            {%endif%}
            Min: {{funcs.convert_float(daily.temperature_2m_min)|round|int}},
            Max:{{funcs.convert_float(daily.temperature_2m_max)|round|int}}
          </p>
          <br />
          {%endfor%}
        </div>
      </div>
      <div id="popover-content2" style="display: none;">
        {%include 'daily_forecast.html'%}
      </div>
      <div class="ana-grid-1-mini">
        <div class="bg-color" >
         <div class="ana-title"> <i class="fas fa-lungs"></i> &nbsp; AIR QUALITY </div>
          <center>
            <img
              draggable="false"
              src="/static/assets/good-feedback.png"
              alt=""
              width="50"
              height="50"
            />
            <p>{{airq.pmtwo}}</p>
            <p>{{airq.pmten}}</p>
            <p>{{airq.co_index}}</p>
          </center>
        </div>
        <div class="bg-color" id="rain-popper"><div class="ana-title"><i class="fas fa-droplet"></i> &nbsp; RAIN </div></div>
        <div id="rain-content" style="display: none;">
          {%include 'rain_analytics.html'%}
        </div>
        <div class="bg-color" id="wind-popper">
          <div class="ana-title"> <i class="fas fa-wind"></i> &nbsp; WIND </div>
          <div>
            <p>Wind Speed: {{wind.wind_speed}}</p>
          </div>
          <div>
            <p>Wind Direction: {{wind.wind_direction}}</p>
          </div>
        </div>
        <div id="wind-content" style="display: none;">
          {%include 'wind_analytics.html'%}
        </div>
      </div>
    </div>
  </div>

  <div class="flexy2">
    <div
      class="ana-map bg-color"
      data-mdb-modal-init
      data-mdb-target="#modal-map"
    >
      <div class="map-title ana-title"><i class="fas fa-map"></i> &nbsp; MAP  </div>
      <div class="map-cont" id="analyt-map"></div>
    </div>
    <div class="ana-grid-2">
      <div class="bg-color" id="hum-popper">
        <div class="ana-title">
        HUMIDITY</div>
        <div>
          <p>{{tph_data.humidity}}</p>
        </div>
      </div>
      <div id="hum-content" style="display: none;">
        {%include 'hum_analytics.html'%}
      </div>
      <div class="bg-color" id="pressure-popper" >
        <div class="ana-title"> PRESSURE </div>
        <div>
          <p>{{tph_data.pressure}}</p>
        </div>
      </div>
      <div id="pressure-content" style="display: none;">
        {%include 'press_analytics.html'%}
      </div>
      <div class="bg-color" id="feel-popper" ><div class="ana-title"> FEELS LIKE</div></div>
      <div id="feel-content" style="display: none;">
        {%include 'feel_analytics.html'%}
      </div>
      <div class="bg-color"><div class="ana-title"> <i class="fas fa-calculator"></i>&nbsp; AVERAGES </div></div>
    </div>
  </div>
</div>
