{%extends 'layout.html'%}
{%block title%}
Dashboard
{%endblock%}
{%block body%}
<div class="logo-details">
  <i class="bx bx-menu menu" id="btn"></i>
  <i class="fab fa-adn" id="btn1"></i>
  <div class="logo_name">Africo</div>
</div>

<div class="sidebar">
 
    <ul class="nav-list" >
      <li>
        <i class="bx bx-search"></i>
        <input type="text" placeholder="Search..." />
        <span class="tooltip">Search</span>
      </li>
      
      <li>
        <a href="#data">
          <i class="fas fa-square"></i>
          <span class="links_name">Devices</span>
        </a>
        <span class="tooltip">Devices</span>
      </li>
      

      <li>
        <a href="#account" >
          <i class="bx bx-user"></i>
          <span class="links_name">Account</span>
        </a>
        <span class="tooltip">Account</span>
      </li>
      <li class="profile">
        <div class="profile-details">
          {%if user.profile_picture == None %}
          <img src="/static/assets/emptyprofile.jpeg" alt="profileImg" />
          {%else%}
          <img src="{{url_for('static', filename = 'uploads/' + user.profile_picture)}}" alt="profileImg" />
          {%endif%}
          <div class="name_job">
            <div class="name">{{user.name}}</div>
            <div class="job">{{user.username}}</div>
          </div>
        </div>
        <a href="/logout">
        <i class="bx bx-log-out" id="log_out"></i>
      </a>
      </li>
    </ul>
  </div>
  
  <section class="home-section" id="data">
    <div class="text">Devices</div>
            <div class="no-device">
            <p>You currently have no device registered</p>
          <a data-mdb-modal-init href="#add-device"><button class="btn btn-primary">Add a Device -></button></a>
          </div>
           
        
  </section>
  
  <section class="home-section" id="account">
    <div class="text">Account</div>
    <!-- <form action="/dashboard/{{user.id}}/profile/upload" method="post"> -->
    <div class="d-flex justify-content-center mb-4 ">
      <div class = " main-pic">
        {%if user.profile_picture == None %}
        <img id="selectedAvatar" src="/static/assets/emptyprofile.jpeg" class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;" alt="profileImg" />
        {%else%}  
        <img id="selectedAvatar" src="{{url_for('static', filename = 'uploads/' + user.profile_picture)}}"
          class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;" alt="profileImg" />
        {%endif%}
        <button class = "main-pic-attrib">
          <i class="fas fa-pen"></i>
          <div class = "tooltip">
            <div  class="">
              <label for="profile" style = "color: black;">Upload a Photo... </label>
            <input class="form-control d-none" type="file" name="profile" id="profile" onchange="showImg()">
            </div>
            {%if user.profile_picture%}
            <br><a href="/dashboard/{{user.id}}/profile/remove" style= "color: black;">Remove Photo</a>
            {%else%}
            {%endif%}
          </div>
        </button>
      </div>
    </div>
    <!-- </form> -->
    <div class="d-flex justify-content-center mb-4 mt-3 table-shift">
      <div class="card h-50 w-auto">
        <div class="rounded-top text-dark h-auto" style="background-color: #d6d6d6;">
          <table class="table">
            <tr>
              <th scope="col">No of Devices: </th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">{{no_of_device}}</th>
            </tr>
            <tr>
              <th scope="col">Name: </th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">{{user.name}}</th>
            </tr>
            <tr>
              <th scope="col">Username: </th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">{{user.username}}</th>
            </tr>
            <tr>
              <th scope="col">Email: </th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col">{{user.email}}</th>
            </tr>
          </table>
          <div class="ms-4 mt-0 d-flex flex-column" style="width: 150px;">
            <a class="btn btn-outline-primary"  data-mdb-modal-init href="#edit-profile"  data-mdb-ripple-color="dark"
              style="z-index: 1;" role="button">
            Edit profile <i class="fas fa-pen"></i>
            </a>
          </div>
          <div class="w-100 mt-2 ">
            <table class="table">
              <tr>
                <th scope="col">Change Password: </th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"><a class="btn btn-outline-primary" data-mdb-modal-init href="#change-password" data-mdb-ripple-color="dark"
                  style="z-index: 1;"><i class="fas fa-pen"></i></a></th>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
    <section class="home-section" id="setting">
      <div class="text">Settings</div>
    </section>
  

<!-- Devices Modal-->
<div class="modal fade" id="add-device" aria-hidden="true" aria-labelledby="device" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="device">Add Device</h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/dashboard/{{user.id}}" method="post">
      <div class="modal-body">
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="text" name="uuid" id="form3Example1cg" class="form-control form-control-lg" required/>
          <label class="form-label" for="form3Example1cg">Device ID</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >
          Add
        </button>
      </div>
    </form>
    </div>
  </div>
</div>
<!-- Edit Profile Modal -->
<div class="modal fade" id="edit-profile" aria-hidden="true" aria-labelledby="device" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="device">Edit Profile</h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/dashboard/{{user.id}}/profile/edit" method="post">
      <div class="modal-body">
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="text" name="name" id="form3Example1cg" class="form-control form-control-lg" value="{{user.name}}" required/>
          <label class="form-label" for="form3Example1cg">Name</label>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="text" name="username" id="form3Example1cg" class="form-control form-control-lg" value="{{user.username}}" required/>
          <label class="form-label" for="form3Example1cg">Username</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >
          Edit
        </button>
      </div>
    </form>
    </div>
  </div>
</div>
<!-- Change password -->
<div class="modal fade" id="change-password" aria-hidden="true" aria-labelledby="device" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="device">Change Password</h5>
        <button type="button" class="btn-close" data-mdb-ripple-init data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/dashboard/{{user.id}}/profile/password/change" method="post">
      <div class="modal-body">
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" name="current" id="form3Example1cg" class="form-control form-control-lg" required/>
          <label class="form-label" for="form3Example1cg">Current Password</label>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" name="new" id="form3Example1cg" class="form-control form-control-lg" required/>
          <label class="form-label" for="form3Example1cg">New Password</label>
        </div>
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="password" name="retype" id="form3Example1cg" class="form-control form-control-lg" required/>
          <label class="form-label" for="form3Example1cg">Retype Password</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >
          Change
        </button>
      </div>
    </form>
    </div>
  </div>
</div>

{% set id = user.id  %}
<script id="id" type="application/json">{{ id|tojson }}</script>

{%endblock%}