<div class='scroll-dates'>
    <div class='row mt-n5 dates'>
        {%for daily in daily_all%}
        
        <div class='col mt-n5 ms-3'>
            <div class='row mb-0'>{{daily.date_forecast.strftime('%a')}}</div>
            {%if loop.first%}
            <div class='row mt-n5' id='{{loop.index}}' onclick="getChart(this.id,'fdate')"><span class="today-day circle">{{daily.date_forecast.strftime('%d')}}</span></div>
            {%else%}
            <div class='row mt-n5' id='{{loop.index}}' onclick="getChart(this.id,'fdate')" ><span>{{daily.date_forecast.strftime('%d')}}</span></div>
            {%endif%}
        </div>
        
        {%endfor%}
    </div>
    {%if hourly_date.date_forecast%}
    <button class='left btn btn-outline-primary btn-floating' onclick="getNext('b','fdate')"><i class='fas fa-angle-left'></i></button> <button class='right  btn btn-outline-primary btn-floating'onclick="getNext('n','fdate')"><i class='fas fa-angle-right'></i></button>
    
    <div class='row mt-n5 date' id="fdate">{{hourly_date.date_forecast.strftime('%A, %d %b %Y')}}</div>
    {%else%}
    {%endif%}
    <!-- Average temperature -->
    <!-- <span class="current">
        {{tph_data.temperature}}&deg;C
    </span> -->
    <div class='summary mt-n5'><h5 class='header mt-n5'> Chart </h5>
            <canvas id="feel-chart" class="mt-n5" ></canvas>
            </div>
    <div class='summary mt-n5'>
        <h5 class='header'> Summary </h5>
        <div class="card mt-n5" id="summary-data">
            Hello 
        </div>
    </div>
    <div class='summary mt-n5'>
        <h5 class='header'> Forecast </h5>
        <div class="card mt-n5" id="summary-data">
            Hello
        </div>
    </div>

</div>