<div>
  <div style="text-align: center">
    <i class="fas fa-location-dot"></i>&nbsp;<span
      style="font-size: 12px; font-weight: 500"
      id="${ids}placeval">
      ${allVal.place}</span>
  </div>
  <hr style="margin: 7px 0px" />

  <div class="pop-container">
    <div>Temp</div>
    <div><span id="${ids}tempval">${allVal.temperature}</span></div>

    <div>Humidity</div>
    <div><span id="${ids}humval">${allVal.humidity}</span></div>

    <div>Pressure</div>
    <div><span id="${ids}presval">${allVal.pressure}</span></div>

    <div>PM2.5</div>
    <div><span id="${ids}pmtwoval">${allVal.pmtwo}</span></div>

    <div>PM10</div>
    <div><span id="${ids}pmtenval">${allVal.pmten}</span></div>

    <div>Wind Direction</div>
    <div><span id="${ids}direction">${allVal.windDirection}</span></div>

    <div>Wind speed</div>
    <div><span id="${ids}speed">${allVal.windSpeed}</span></div>

    <div>CO</div>
    <div><span id="${ids}coval">${allVal.co}</span></div>

    <div>Cloud</div>
    <div><span id="${ids}cloud_cover">${allVal.cloud_cover}</span></div>
  </div>
</div>
